<div class="home-page">
	<div class="home-image">
	    <div class="image-text">
	      <p class="title">Monte seu prato</p>
	      <p class="subtitle">Escolha sua salada, molho, prato principal, guarnição e bebida.</p>
	    </div>
	</div>		
	<h1>Home#index</h1>
	<p>Cor temporária para visualizar o header.</p><br><i>Find me in app/views/home/index.html.erb</i>
</div>