<p>
  <strong>Title:</strong>
  <%= @meal.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @meal.description %>
</p>