@import url('https://fonts.googleapis.com/css?family=Amaranth');

body {
	overflow-x: hidden;	
}

.account-screen {
	overflow-y: hidden;
	> .image {
		height: 100vh;
		background-image: url("account.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.sign-up {
	position: relative;
	top: 2.5em;
	> .logo {
		font-size: 48px;
		color: #333333;
		opacity: 0.85;
		font-family: 'Amaranth';
		margin-bottom: 0.5em;
		text-decoration: none;
	}
	> .logo:hover {
		opacity: 0.7;
	}
}

.sign-in {
	position: relative;
	top: 3em;
	> .logo {
		font-size: 48px;
		color: #333333;
		opacity: 0.85;
		font-family: 'Amaranth';
		margin-bottom: 1em;
		margin-top: 1em;
		text-decoration: none;
	}
	> .logo:hover {
		opacity: 0.7;
	}
}

.redirect-account{
	> .question {
		font-size: 1em;
		color: #333333;
		opacity: 0.75;
		margin-bottom: 0.7em;
	}
	> hr {
		background: #333333;
		opacity: 0.25;
		width: 70%;
		margin-left: 12%;
	}
}

.form-label {
	font-size: 14px;
	color: #333333;
	opacity: 0.45;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}


.edit-screen {
		height: 100vh;
	> .image {
		height: 50vh;
		background-image: url("perfil.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	> .edit {
		height: 50vh;
		padding-top: 3em;
		background-color: rgba(204, 204, 204, 0.15);
	}
}

.image-text {
	position: relative;
	left: 4.5em;
	top: 60%;
	> .title {
		font-size: 3.5em;
		color: #fff;
	}
	> .subtitle {
		font-size: 1.25em;
		color: #fff;
	}
}

.edit-label {
	font-size: 14px;
	color: #333333;
	opacity: 0.7;
	margin-bottom: 1em;
}




/*Extraído de https://bootsnipp.com/snippets/featured/bootstrap-outline-buttons*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
/****************************************************************************/
