.backoffice-page {
	min-height: calc(100vh - 2.5em);

}

.backoffice-image {
	height: 45vh;
	width: 100vw;
	background-image: url("backoffice.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.backoffice-options {
	height: 7vh;
	width: 100vw;
	background-color: #444;
	padding-left: 4em;
	> .options {
		position: relative;
		top: 0.7em;
		opacity: 0.75;
		color: #fff;
		margin-left: 1em;
		margin-right: 1em;
	}
	> .options:hover {
		text-decoration: none;
		opacity: 1;
	}
	> .options-selected {
		text-decoration: none;
		opacity: 1;
	}
}

.backoffice-table {
	margin-top: 1.5em;
	
}
.backoffice-theader {
	background-color: #ddd;
}
.backoffice-tbody {
	opacity: 0.75;
}

.editar {
	color: #ffb90f;
	text-decoration: none;
}
.editar:hover {
	color: #ffb90f;
	text-decoration: none;
	opacity: 0.85;
}
.editar:visited {
	color: #ffb90f;
	text-decoration: none;
}

.excluir {
	color: #c00000;
	text-decoration: none;
}
.excluir:hover {
	color: #c00000;
	text-decoration: none;
	opacity: 0.85;
}
.excluir:visited {
	color: #c00000;
	text-decoration: none;
}

.btn-gray {
	margin-left: 1em;
	background-color: #999;
	color: #fff;
}

.backoffice-line {
	margin-top: -0.5em;
}

.show-meal {
	width: 23%;
	margin-right: 2%;
	float: left;
	margin-top: 1.5em;

	> .name {
		width: 100%;
		height: 2.5em;
		background-color: rgba(0, 0, 0, 0.6);
		position: relative;
		bottom: 2.5em;
		margin-bottom: -2.5em;
		color: #fff;
		font-size: 18px;
		padding-top: 0.5em;
		padding-left: 0.5em;
	}
	> .body{
		padding-left: 0.5em;
		padding-top: 0.5em;
		padding-right: 0.5em;
		padding-bottom: 0.5em;
		> .description {
			font-size: 16px;
			color: #333333;
			opacity: 0.65;
		}
		> .price {
			font-size: 18px;
			color: #56ad56;
			margin-bottom: 0.5em;
		}
	}
	> .unavailable {
		color: #fff;
		position: relative;
		float: left;
		bottom: 7em;
		margin-bottom: -5em;
		text-align: center;
		margin-left: 20%;
		margin-right: 20%;
	}
}

.image-meal {
	width: 100%;
	position: relative;
}

.unavailable-meal {
	filter: brightness(40%);
}

.meal-button {
	clear: left;
}

.opt-meal {
	width: 48%;
	margin-left: 1%;
}